.app{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: center;
}
.app form{
    width: 30%;

    /* FLEX */
    display: flex;
    flex-direction: column;
}
.app form input{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 10px;
    border: solid 2px gray;
}
.app form input:focus{
    outline: none;
}
.app form button{
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
    background-color: rgb(200, 235, 176);
    border-radius: 10px;
    border: solid 2px gray;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500px;
}
.app form button:focus{
    outline: none;
}